h1{
    text-align: center;
    font-size: 50px;
}

.list{
    display: flex;
    justify-content: center;
    border-bottom-style:solid ;
    margin-bottom: 15px;
}
.item{
    width: 150px;
    margin: 5px;
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
}

.btn{
    cursor: pointer;
    
}
body{
    background-color: rgb(240, 240, 231);
}

.content{
    display: flex;
    justify-content: center;
}

.InnerContent{
    flex: none;
    width: 60%;
}

.title{
    font-weight: bold;
    font-size: 28px;
}

.descript{
    font-size: 24px;
    font-family: DFKai-sb;
    line-height: 40px;
    text-align: justify; /** 使文字左右對齊 **/
}


@media (max-width:768px){
    h1{
        font-size: 36px;
    }

    .item{
        font-size: 20px;
    }
    .InnerContent{
        width: 90%;
    }

    .title{
        font-size: 24px;
    }
}

