h1{
    text-align: center;
    
}

.list{
    display: flex;
    justify-content: center;
}
.item{
    width: 100px;
    margin: 5px;
    background-color: aqua;
    text-align: center;
}

.btn{
    cursor: pointer;
}
body{
    background-color: antiquewhite;
}

.content{
    display: flex;
    justify-content: center;
}

.InnerContent{
    flex: none;
    width: 80%;
}

.title{
    font-weight: bold;
    font-size: 24px;
}

.descript{
    font-size: 20px;
    font-family: DFKai-sb;
}
